VITE_API_BASE_URL=/api/v1
VITE_API_DOCUMENTATION_URL=https://hackaton-20261-front-587720740455.us-east1.run.app/docs
VITE_TEAM_CODE=TEAM-001
VITE_DEFAULT_EMAIL=operator@tuckersoft.com
VITE_DEFAULT_PASSWORD=REEMPLAZAR_PASSWORD_DEL_EQUIPO
